
/* 表格部分样式 */
.demo-table {
  width: 70%;
  border-collapse: collapse;
}

.demo-table th {
  text-align: left;
  background-color: #626262;
  color: white;
}

.demo-table td, .demo-table th {
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 6px;
}


.demo-table td {
  height: 40px;
  box-sizing: border-box;
}

#address {
  width: 300px;
  height: 100%;
}

#address .address-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* #address .address-text */ .demo-table input {
    background-color: #fff;
    border: none;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    width: 225px;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

/* #address .address-text */ .demo-table input:hover {
  border: 1px solid #ccc;
}

/* #address .address-text */ .demo-table .address-btn {
  border: 1px solid #52CEEC;
  text-align: center;
  cursor: pointer;
  width: 40px;
  color: #52CEEC;
  font-weight: bold;
}

/* 弹窗部分样式 */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  color: #fff;
  z-index: 9999;
  background: rgba(0,0,0,0.6);
  display: none;
}

.popup-wrap {
    position: relative;
    margin: 0 auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    margin-top: 16vh;
    width: 760px;
}
/* 头部样式 */
.popup-head {
  text-align: center;
  padding: 15px 20px 15px;
  color: #000;
  font-weight: bold;
  background: #1D89ED;
  font-size: 16px;
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
/* 中间样式 */
.popup-body {
  padding: 20px 20px 10px 20px;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}

.popup-body-wrap {
  padding: 20px;
}

/* opc 弹窗中间样式 */
#opc-body-wrap, .opc-wrap{
  width: 100%;
  height: 360px;
  padding: 0;
}

.opc-wrap{
  display: flex;
}

.opc-left {
  flex: 1.2;
  margin-right: 20px;
  border: 1px solid #797979;
}

.gruop-title {
  height: 34px;
  line-height: 34px;
  padding: 0 5px;
  border-bottom: 1px solid #797979;
  background: #1D89ED;
  color: #000;
}

.gruop-list {
  height: calc(100% - 34px);
  overflow: auto;
}

.gruop-list .list-item {
  cursor: pointer;
  padding: 5px 13px;
}

.gruop-list .list-item:hover{
  background: #C2F3FF;
}

.opc-right {
  flex: 2;
  /* overflow: auto; */
  border: 1px solid #797979;
}

/* opc 弹窗 - table */
.opc-table {
  border: 1px solid #ebeef5;
  overflow: auto;
  position: relative;
}
.opc-table table{
  width: 100%;
}
.opc-table table tbody {
  display: block;
  height: 310px;
  overflow-y: scroll;
}
.opc-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  }
.opc-table table thead {
  color: #909399;
  display: table;
  font-weight: 500;
  width: 100%;
  table-layout: fixed;
}
.opc-table table td, .opc-table table th {
  padding: 12px 0;
  min-width: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  text-align: left;
  /* border-bottom: 1px solid #ebeef5; */
}
.opc-table table tr:last-child td{
  border-bottom: none;
}
.opc-table table td {
  padding: 8px 0;
  box-sizing: border-box;
}
/* .opc-table table td:hover div{
  overflow: auto;
} */
.opc-table table td div, .opc-table table th div{
  box-sizing: border-box;
  padding: 0 10px;
}
.opc-table table tr:nth-child(even) {
  background-color: #F5F7FC;
}
.opc-table table tr:hover {
  background-color: #F2F8FD;
}


/* .PBW-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  line-height: 38px;
  margin-bottom: 12px;
  flex-wrap: wrap;
} */

.PBW-block {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  margin-bottom: 12px;
  width: 330px;
}

.PBW-block .PBW-block-item{
  height: 100%;
  text-align: center;
  width: 340px;
}

.PBW-block .PBW-block-item span {
  display: inline-block;
  width: 76px;
}

.PBW-block .PBW-block-item select,  .PBW-block .PBW-block-item input{
  width: calc(100% - 120px);
  box-sizing: border-box;
  height: 30px;
}


/* 底部样式 */
.popup-footer {
  display: flex;
  justify-content: center;
  padding: 10px 20px 20px;
  box-sizing: border-box;
}
.popup-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 9px 15px;
  font-size: 14px;
  border-radius: 4px;
  user-select: none;
}
.popup-cancel:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.popup-isplain {
  color: #409eff ;
  background: #ecf5ff ;
  border-color: #b3d8ff ;
}
.popup-isplain:hover {
  background: #409eff;
  border-color: #409eff;
  color: #fff;
}
.popup-confirm {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.popup-confirm:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}